<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>BitIndex</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            padding-top: 0px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>

<body onload="update_form()">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/dist/brand/bootstrap-solid.svg" width="30" height="30" alt="">&nbsp;BitIndex100</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <h1>Top 100 cryptocoins</h1><br/>
        <div id="rate"></div>
        <br/><br/>
        <p class="lead">
            <canvas id="myChart" width="400" height="200"></canvas>
        </p>
        <div class="btn-group btn-group-toggle float-left" data-toggle="buttons">

            <label class="btn btn-secondary btn-sm" onclick="updatePeriod('month')">
                <input type="radio" name="month" id="month" autocomplete="off" > month
            </label>
            <label class="btn btn-secondary btn-sm" onclick="updatePeriod('week')">
                <input type="radio" name="week" id="week" autocomplete="off"> 7 day
            </label>
            <x></x>
            <label class="btn btn-secondary active btn-sm" onclick="updatePeriod('day')">
                <input type="radio" name="day" id="day" autocomplete="off" checked > 1 day
            </label>

        </div>
        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-secondary active btn-sm" onclick="updateCur('usd')">
                <input type="radio" name="usd" id="usd" autocomplete="off" checked > USD
            </label>
            <label class="btn btn-secondary btn-sm" onclick="updateCur('rub')">
                <input type="radio" name="rub" id="rub"  autocomplete="off"> RUB
            </label>
            <!--<x></x>-->
            <!--<label class="btn btn-secondary btn-sm">-->
            <!--<input type="radio" name="options" id="option3" autocomplete="off"> EUR-->
            <!--</label>-->
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="cards">
        </div>
    </div>
</div>
<br/><br/><br/>


<script>
    var period = "day"
    var cur= "usd";

    function updateCur(_cur){
        cur = _cur;
        updateGraph();
    }

    function updatePeriod(_period){
        period = _period;
        updateGraph();
    }

    function updateGraph(){

        getRate();
        getGraph();

    }

    var ctx = $("#myChart");
    ctx.hide();
    var myChart;

    function update_form() {
        getRate();
        getGraph();
        getAllCoins();
    }

    function getRate() {
        $.get("getRate/"+cur+"/"+period, function (data, status) {
            $("#rate").html("");
            $(data).appendTo("#rate");
        });
    }
//    https://code.tutsplus.com/tutorials/getting-started-with-chartjs-scales--cms-28477
    function getGraph() {
        $.get("getGraph/"+cur+"/"+period, function (data, status) {

            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"],
                    datasets: [{
                        data: [data[23], data[22], data[21],data[20], data[19], data[18], data[17], data[16], data[15], data[14], data[13], data[12], data[11], data[10], data[9], data[8], data[7], data[6], data[5], data[4], data[3], data[2], data[1], data[0]],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false,
                    }
                }
            });
        });

        ctx.show(200);
    }

    function getAllCoins() {
        $.get("getAllCoins", function (data, status) {
            $("#cards").html("");
            $("#cards").hide();
            for (i = 0; i < data.length; i++) {
                if (data[i].active == 1) {

                    $("<div class=\"card\"><div class=\"card-header\"><img src=\"/image/" + data[i].id + "\" width=\"50\" height=\"50\">"
                        + "<h4>" + data[i].name + " (" + data[i].title + ")</h4></div>"
                        + "<div class=\"card-body\"><h5 class=\"card-title\">#" + (i + 1) + "</h5>"
                        + "<p class=\"card-text\">" + data[i].description + "</p></div></div><br/>")
                        .appendTo("#cards");
                }
            }
            $("#cards").show(500);
        });
    }
</script>
</body>
</html>